# Deixalo soamente co nome de ".config" para que poida ser usado
# Esta é a configuración que debes ter no ficheiro
## Comentarios deste estilo ignoranse

# tamén linhas en branco como a mostrada enriba ou embaixo

# calquer variable (parte esquerda do igual) cun nome distinto provocará erro
# non tocar o igual, os espazos dentro do igual non importan
id_afiliado = dado_por_amazon
token_bot = dado_por_botfather
nome_canle1 = nome_tras_do_arroba_da_canle_telegram
